/* 超小屏幕 */
@media screen and (max-width: 576px) {
  .main {
    width: 100%;
  }

  .img-1 {
    background-image: url(./img1.png), radial-gradient(circle, rgb(41, 84, 163), #0F103F 55%);
    background-position: 0 0, 10% -40px;
    background-repeat: no-repeat;
    background-size: 10%;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: -25%;
    right: -50px;
    /* transform: translateZ(-2px) scale(4); */
  }

  .img-2 {
    background-image: url(./img2.png);
    background-repeat: no-repeat;
    background-size: 90%;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
  }
}

/* 小屏幕 */
@media screen and (min-width: 768px) {
  .main {
    width: 768px;
  }
}

/* 中等屏幕 */
@media screen and (min-width: 992px) {
  .main {
    width: 992px;
  }
}

/* 大屏幕 */
@media screen and (min-width: 1400px) {
  .main {
    width: 100%;
  }

  .img-1 {
    background-image: url(./img1.png), radial-gradient(circle, rgb(41, 84, 163), #0F103F 55%);
    /* background-position: 0 0, 10% -40px; */
    background-position: 0 0, 0 0px;
    background-repeat: no-repeat;
    background-size: 65%;
    width: 100%;
    height: 110%;
    position: absolute;
    bottom: 130%;
    left: 200%;
    z-index: -1;
    transform: translateZ(-2px) scale(5);
  }

  .img-2 {
    background-image: url(./img2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    left: -26%;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
a{
  color: aliceblue;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #0F103F;
  overflow: auto;
  overflow-x: hidden;

  perspective: 1px;
  transform-style: preserve-3d;

}

.header {
  margin: 0 auto;
  width: 80%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
  position: relative;
  z-index: 10;
}

.head-icon-box {
  width: 100px;
  text-align: center;
}

.head-icon {
  width: 150px;
  height: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-image: url(./高清logo透明底原色字.png);
  position: absolute;
  top: -20px;
}

.content-box {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.img-box1 {
  width: 100%;
  height: 100%;
  position: relative;
  /* float: right; */
  /* transform: translateZ(-2px) scale(4) ; */
  /* z-index: -1; */
  perspective: 1px;
  transform-style: preserve-3d;
}

.img-box2 {
  width: 30%;
  height: 60%;
  position: relative;
  /* float: right; */
  left: 0%;
  top: -4%;
  perspective: 1;
  transform: translateZ(-1px) scale(3);

}

.txt-box {
  position: absolute;
  left: 18%;
  top: 36%;
  color: white;
  font-family: cursive;
  z-index: 10;
}

.home-tit {
  font-size: 55px;
  margin: 8px;
}


.btn-box {
  text-align: center;
  margin-top: 50px;
}

.btn {
  border: none;
  line-height: 50px;
  height: 50px;
  width: 160px;
  border-radius: 40px;
  color: white;
}

.btn-1 {
  background: rgb(255, 255, 255, 0.3);
  margin-right: 20px;
  font-weight: bold;
}

.btn-2 {
  background: linear-gradient(135deg, rgb(201, 97, 222) 34%, rgb(41, 84, 163) 70%);
  font-weight: bold;
}


.back-box {
  /* width: 100%;
  height: 100%; */
  width: 1400px;
  height: 1000px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.back1 {
  width: 100%;
  height: 100%;
  background: url(./about/BGSmallCircle.png);
  background-repeat: no-repeat;
  background-size: 70%;
  position: absolute;
  top: 40%;
  left: -27%;
  filter: drop-shadow(2000px 0 #2954A3);
  transform: translateX(-100%);
}

.back2 {
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background: linear-gradient(-45deg, #2954A3, #C961DE);
  box-shadow: 10px 10px 100px #2954A3;
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  left: 30%;
}

.back3 {
  width: 100%;
  height: 100%;
  background: url(./about/Illustration.png);
  background-repeat: no-repeat;
  background-size: 25%;
  position: absolute;
  top: 50%;
  left: 60%;
  filter: drop-shadow(0 0 #2954A3);
}

.back4 {
  width: 100%;
  height: 100%;
  background: url(./about/programmer.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  position: absolute;
  top: 33%;
  left: 10%;
  filter: drop-shadow(0 0 #2954A3);
}

.contend-box {
  position: absolute;
  top: 16%;
  left: 44%;
  color: white;
  font-family: cursive;
  font-size: 20px;
}

.about {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-top: 500px; */
}

.portfolio {
  width: 1400px;
  height: 1000px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.portfolio-back1 {
  width: 100%;
  height: 100%;
  background-image: url(./portfolio/BGSmallCircle1.png);
  background-repeat: no-repeat;
  background-size: 58%;
  filter: drop-shadow(1400px 0 #2954A3);
  position: absolute;
  top: 17%;
  left: -80%;
}

.portfolio-back2 {
  width: 100%;
  height: 100%;
  background-image: url(./portfolio/BGSmallCircle2.png);
  background-size: 90%;
  background-repeat: no-repeat;
  filter: drop-shadow(1850px 0 #2954A3);
  /* filter: drop-shadow(10vh 0 #2954A3); */
  position: absolute;
  top: 10%;
  left: -130%;

}

.portfolio-back3 {
  z-index: 100;
  width:50%;
  height:50%;
  position: absolute;
  /* top: 10%;
  left: -130%; */
  background-image: radial-gradient(circle, rgb(41, 84, 163), #0F103F 55%);
}