html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #0F103F;
  overflow: auto;
  overflow-x: hidden;

}

.header {
  margin: 0 auto;
  width: 80%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
  position: relative;
}

.head-icon-box {
  width: 100px;
  text-align: center;
}

.head-icon {
  width: 150px;
  height: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-image: url(./高清logo透明底原色字.png);
  position: absolute;
  top: -20px;
}

.content-box {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.img-box1 {
  width: 43%;
  height: 70%;
  position: relative;
  /* float: right; */
}

.img-box2 {
  width: 41%;
  height: 60%;
  position: relative;
  /* float: right; */
  left: 0%;
  top: -4%;
}

.txt-box {
  position: absolute;
  left: 18%;
  top: 36%;
  color: white;
  font-family: cursive;
  z-index: 10;
}

.home-tit {
  font-size: 55px;
  margin: 8px;
}


.btn-box {
  text-align: center;
  margin-top: 50px;
}

.btn {
  border: none;
  line-height: 50px;
  height: 50px;
  width: 160px;
  border-radius: 40px;
  color: white;
}

.btn-1 {
  background: rgb(255, 255, 255, 0.3);
  margin-right: 20px;
  font-weight: bold;
}

.btn-2 {
  background: linear-gradient(135deg, rgb(201, 97, 222) 34%, rgb(41, 84, 163) 70%);
  font-weight: bold;
}



/* 超小屏幕 */
@media screen and (max-width: 576px) {
  .main {
    width: 100%;
  }

  .img-1 {
    background-image: url(./img1.png), radial-gradient(circle, rgb(41, 84, 163), #0F103F 55%);
    background-position: 0 0, 10% -40px;
    background-repeat: no-repeat;
    background-size: 10%;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: -25%;
    right: -50px;
  }

  .img-2 {
    background-image: url(./img2.png);
    background-repeat: no-repeat;
    background-size: 90%;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
  }
}

/* 小屏幕 */
@media screen and (min-width: 768px) {
  .main {
    width: 768px;
  }
}

/* 中等屏幕 */
@media screen and (min-width: 992px) {
  .main {
    width: 992px;
  }
}

/* 大屏幕 */
@media screen and (min-width: 1400px) {
  .main {
    width: 100%;
  }

  .img-1 {
    background-image: url(./img1.png), radial-gradient(circle, rgb(41, 84, 163), #0F103F 55%);
    background-position: 0 0, 10% -40px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 45%;
    left: 138%;
  }

  .img-2 {
    background-image: url(./img2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
  }
}